In [1]:
import numpy as np 
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
tickers =['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = yf.download(t, start = '2007-1-1')['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
sec_data.tail()

                  MSFT        AAPL
Date
2023-07-28  338.369995  195.830002
2023-07-31  335.920013  196.449997
2023-08-01  336.339996  195.610001
2023-08-02  327.500000  192.580002
2023-08-03  327.619995  191.225006

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.021953
2007-01-05 -0.005719 -0.007147
2007-01-08  0.009736  0.004926
2007-01-09  0.001002  0.079799
...              ...       ...
2023-07-28  0.022868  0.013418
2023-07-31 -0.007267  0.003161
2023-08-01  0.001249 -0.004285
2023-08-02 -0.026634 -0.015611
2023-08-03  0.000366 -0.007061

[4175 rows x 2 columns]

<h1>Microsoft<h1>

In [6]:
#Daily AVG Return
sec_returns['MSFT'].mean()

0.0006522745107183486

In [7]:
#Yearly AVG Return
sec_returns['MSFT'].mean()*250

0.16306862767958713

In [8]:
sec_returns['MSFT'].std()

0.017960879059325016

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.28398643303144777

<h1>Apple<h1>

In [29]:
#Daily AVG Return
sec_returns['AAPL'].mean()

0.0010349325769907838

In [28]:
#Yearly AVG Return
sec_returns['AAPL'].mean()*250

0.25873314424769595

In [30]:
sec_returns['AAPL'].std()

0.02019550456436583

In [33]:
sec_returns['AAPL'].std() * 250 **0.5

0.31931896459861303

<h1> APPL vs MSFT Yearly AVG Return <h1>

In [10]:
print(sec_returns['MSFT'].mean()*250)
print(sec_returns['AAPL'].mean()*250)

0.16306862767958713
0.25873314424769595

In [11]:
sec_returns[['MSFT', 'AAPL']].mean()*250

MSFT    0.163069
AAPL    0.258733
dtype: float64

<h1>STD:<h1>

In [12]:
sec_returns[['MSFT', 'AAPL']].std()*250**.5

MSFT    0.283986
AAPL    0.319319
dtype: float64

<h1>Covarience and Correlation:<h1>

In [13]:
PG_var = sec_returns['MSFT'].var()
PG_var

0.0003225931765836999

In [14]:
BEI_var = sec_returns['AAPL'].var()
BEI_var

0.00040785840460932113

In [15]:
PG_var_a = sec_returns['MSFT'].var()*250
PG_var_a

0.08064829414592498

In [16]:
BEI_var_a = sec_returns['AAPL'].var()*250
BEI_var_a

0.10196460115233028

In [17]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000323  0.000207
AAPL  0.000207  0.000408

In [18]:
cov_matrix_a = sec_returns.cov()*250
cov_matrix_a

          MSFT      AAPL
MSFT  0.080648  0.051850
AAPL  0.051850  0.101965

In [19]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.571776
AAPL  0.571776  1.000000